/* Establece estilos globales y resetea los márgenes y paddings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

/* Estilos para el formulario */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="file"],
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #5cb85c;
  color: #fff;
  border: 0;
  cursor: pointer;
}

button[type="button"] {
  background-color: #d9534f;
}

button:hover {
  opacity: 0.9;
}

/* Estilos para la lista de productos */
#productList {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

img {
  width: 100px; /* Ajustar según sea necesario */
  height: auto;
}

/* Botones para acciones */
.botonE, .botonEdi {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botonEdi {
  background-color: #f0ad4e;
  color: white;
}

.botonE {
  background-color: #d9534f;
  color: white;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }
  
  input[type="text"],
  input[type="file"],
  textarea,
  button {
    padding: 8px;
  }
}  

.footer {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  padding: 20px 0;
  font-family: 'Arial', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  padding: 10px 20px;
  min-width: 250px;
}

.footer-section h3 {
  margin-bottom: 20px;
}

.footer-section .contact,
.footer-section .socials,
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.footer-section ul li a:hover {
  color: #7386D5;
  transition: color 0.3s ease-in-out;
}

.footer-section .contact span {
  display: block;
  margin-bottom: 10px;
}

.footer-section .socials a {
  margin-right: 10px;
}

.footer-section .socials a i {
  color: #000000;
  margin-right: 5px;
}

.footer-section .socials a:hover i {
  color: #7386D5;
  transition: color 0.3s ease-in-out;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #777;
  margin-top: 20px;
}

/* Estilos para el mini logo en el footer */
.footer-logo {
  padding-right: 20px;
  /* Asegura algún espacio entre el logo y el contenido 'about' */
  align-self: center;
  /* Centra el logo verticalmente */
}

.company-logo {
  width: 500px;
  /* Tamaño más grande para el logo */
  height: auto;
  /* Mantiene la proporción del logo */
}

@media (max-width: 700px) {
  .footer-content {
      flex-direction: column;
      text-align: center;
  }

  .footer-logo,
  .footer-section {
      margin-bottom: 20px;
      flex-basis: 100%;
      /* Hace que cada sección ocupe el ancho completo */
  }

  .company-logo {
      margin-bottom: 20px;
      width: 120px;
      /* Logo más grande también para dispositivos móviles si es necesario */
  }
}