/* Estilos previos */
.img {
    width: 100%;

}

.add {
    width: 100%;
    display: grid;
    place-items: center;
}

.h1 {
    color: rgb(26, 28, 77)(0, 8, 255);
    text-align: center;
}

.parpre{
    color: #6165bf;
    font-size: 30px;
    text-align: center;
}

.parpre2{
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.parpre3{
    color: #bf6161;
    font-size: 20px;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.logo {
    width: 300px;
    height: auto;
}

h5 {
    color: rgb(39, 38, 38);
}

.image-container {
    position: relative;
    width: 300px;
    /* Ajusta el ancho deseado para tu imagen */
}

/* Estilo para la imagen */
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo para la superposición de texto */
.overlay-text {
    position: absolute;
    top: 50%;
    /* Alinea verticalmente en el centro */
    left: 50%;
    /* Alinea horizontalmente en el centro */
    transform: translate(-50%, -50%);
    /* Centra el texto */
    color: #fff;
    /* Color del texto */
    padding: 10px;
    /* Espaciado interno */
}

/* Estilos CSS para el footer */
.footer {
    background-color: #333;
    color: #f4f4f4;
    text-align: left;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px 20px;
    min-width: 250px;
}

.footer-section h3 {
    margin-bottom: 20px;
}

.footer-section .contact,
.footer-section .socials,
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #f4f4f4;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer-section ul li a:hover {
    color: #7386D5;
    transition: color 0.3s ease-in-out;
}

.footer-section .contact span {
    display: block;
    margin-bottom: 10px;
}

.footer-section .socials a {
    margin-right: 10px;
}

.footer-section .socials a i {
    color: #f4f4f4;
    margin-right: 5px;
}

.footer-section .socials a:hover i {
    color: #7386D5;
    transition: color 0.3s ease-in-out;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #777;
    margin-top: 20px;
}

/* Estilos para el mini logo en el footer */
.footer-logo {
    padding-right: 20px;
    /* Asegura algún espacio entre el logo y el contenido 'about' */
    align-self: center;
    /* Centra el logo verticalmente */
}

.company-logo {
    width: 500px;
    /* Tamaño más grande para el logo */
    height: auto;
    /* Mantiene la proporción del logo */
}

@media (max-width: 700px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo,
    .footer-section {
        margin-bottom: 20px;
        flex-basis: 100%;
        /* Hace que cada sección ocupe el ancho completo */
    }

    .company-logo {
        margin-bottom: 20px;
        width: 120px;
        /* Logo más grande también para dispositivos móviles si es necesario */
    }
}

img {
    width: 100%;
}

.h1fran {
    position: absolute;
    z-index: 10;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

@media(min-width:768px) {
    .h1fran {
        position: absolute;
        z-index: 10;
        color: white;
        font-weight: bold;
        font-size: 5rem;
    }
}

.imgcaru {
    height: 700px;
    object-fit: cover;
    position: relative;
    z-index: -1;

}

.center {
    display: grid;
    place-items: center;
}

.h2mas {
    color: #262861;
    font-size: 4rem;
}

.h1fran2 {
    position: absolute;
    z-index: 10;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

@media(min-width:768px) {
    .h1fran2 {
        position: absolute;
        z-index: 10;
        color: white;
        font-weight: bold;
        font-size: 4rem;
    }
}

.imgen {
    margin: 2rem;
    margin-top: -5rem;
    width: 500px;
}

.imgen2 {
    
    margin: 2rem;
    margin-top: -5rem;
    width: 500px;
}
.bg-color1 {
    background-color: #262861;
    width: 100%;
    height: 400px;
}

.bg-color2 {
    background-color: #770a0a;
    width: 100%;
    height: 400px;
}


.p1 {
    margin-left: 40rem;
    margin-top: -8rem;
    font-size: 2rem;
    color: white;
}

.p {
    margin-left: 40rem;
    margin-top: -12rem;
    font-size: 2rem;
    color: white;
}

.grid {
    display: grid;
    place-items: center;
}

@media(min-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}


.hei {
    display: grid;
    place-items: center;
    height: 500px;
}

.ocultar {
    display: none;
}

@media(min-width:1000px) {
    .ocultar {
        display: block;
    }
}

.p2 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: justify;
    hyphens: auto;
}

.grid2 {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.mar {
    margin: 0 0 10rem 0;
}